
h1 {

    font-size: 80px;
    font-family: 'Exo 2', sans-serif;
    margin: auto;
    padding-top: 50px;
    text-align: center;

}

.landing {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
}
.startBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background: linear-gradient(to right, #0006ff, #ff9e00);
    color: white;
    padding: 10px 20px;
    border: 0px;
    
    
}
.landGrad {
    background: linear-gradient(to right, #0006ff, #ff9e00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}